.container {
  background-color: var(--background-color-100);
  width: 100%;
  height: 100%;
}

.dashboardContent {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
}

.operationsPanelWrapper {
  width: 30%;
  height: 100%;
}

.operationOverviewWrapper {
  width: 68.5%;
  height: 100%;
  background-color: var(--background-color-200);
  border-radius: 3px;
}

.overviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.overviewActions {
  display: flex;
  align-items: center;
}

.overviewActions span:hover {
  cursor: pointer;
}

.overviewTitleWrapper {
  color: var(--text-color-100);
  font-size: 36px;
  font-weight: bold;
}

.overviewActions {}

.overviewActions span {
  color: var(--brand-color);
  margin-right: 1rem;
}

.mapWrapper {
  height: 100%;
}

.selectionRequiredWrapper {
  padding: 1rem;
}

.selectionRequiredContainer {
  width: 100%;
  height: calc(100vh - 257px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-100);
  background-color: var(--background-color-400);
}

@media (max-width: 1023px) {
  .dashboardContent {
    flex-direction: column;
    justify-content: unset;
    padding: 1rem;
  }

  .operationsPanelWrapper {
    width: 100%;
    margin-bottom: 1rem;
  }

  .operationOverviewWrapper {
    width: 100%;
  }
}